*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color:cyan;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline;
    margin: 10px;
}
nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav a:hover{
    color: #6c8b8b;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(205, 247, 248);
    
}
h1{
    margin-bottom: 20px;
}
div{
    margin-bottom: 10px;
}
label{
    display: inline-block;
    width: 100px;
}
input[type="text"],
  input[type="number"],
  select {
    border-radius:20px ;
    width: 200px;
    padding: 5px;
  }
  button{
    padding: 7px 15px;
    background-color: beige;
    border-radius: 10px;
    cursor: pointer;
  }
  button:hover{
    background-color: brown;
  }
  #addPatient{
    margin-left: 100px;
  }
  h2{
    margin-top: 30px;
  }
  #report,#result{
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;
  }
  #result{
    height: 400px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  #result img{
    width: 200px;
    height: 100px;
  }
  